#container {
    width: 80%;
    margin: auto;
    padding: 10px;
}

header {
    background: grey;
    color: white;
    margin: 0;
    padding: 3px;
    text-align: center;
}

ul {
    list-style-type: none;
}

table {
    border-collapse: collapse;
    width: 100%;
    /*border: 2px solid black;*/
}

th {
    border: 2px solid black;
    background-color: lightgrey;
    text-align: left;
    font-weight: normal;
}

td {
    border: 2px solid black;
}

#tableheader {
    background-color: lightgrey;
}

#showMonthly {
    text-align: right;
}